*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} body{
  background-color: black;
  font-family: "Monument Extended", "Helvetica", Arial, sans-serif;
}

.container{
 max-width: 530px;

}
 
/* background img */
 .bg-img img {
  display: inline-block;
    width: 100%;
     object-fit: none;
     object-position: center bottom;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  
    } 
   
.wrapper{
    width: 94%;
 margin-inline: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.2em;
    background-color:black ;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 666666;
}
.logo img {
    height: 40px;
      width: 40px;
     
    }


      .fa-bars{
        font-size: 1.7rem;
        color: white;
       
      }  
      /* nav list*/
      .nav-list{
        visibility: hidden;
        color: white;
        font-size: 1.4rem;
      } 
      .nav-list i + i {
        margin-left: 0.7rem;
      }
      
      /*hero img and content section*/
      .hero-img{
        display: block;
        max-width: 100%;
        margin-top: 3rem;
       
      }

      .hero-img img{
        width: 100%;
      }

      .caption {
        margin-block: 1rem;
        color: white;
        font-style: italic;
        font-size: 1.2rem;
      }

      .caption span{
        color: #50A584;
      }

      .laptop {
        visibility: hidden;
      }

      .lv-days-container p {
        color: white;
      }

      .lv-days-container p:first-child{
        font-weight: 700;
        font-size: clamp(2rem, 4.3vw, 3rem);
        letter-spacing: 0.1em;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #F1F1F1;
        -webkit-text-fill-color: transparent;
      }
      .lv-days-container p:last-child{
        font-size: clamp(1.7rem, 4.3vw, 2.2rem);
         margin-bottom: 1rem;
      }
        

      .btn-container{
        display: flex;
        gap: 0.5rem;
      }

      .btn-container button{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-inline: 1.7rem;
        padding-block: 0.6rem;
        
      }
      .btn-container button p{
        font-size: 1.1rem;
      
      }
     .btn-listen{
      background-color: #50A584;
      color: white;
      border: none;
     }

     .btn-share{
      background-color: transparent;
      color: white;
      border: 1px solid white;
     }

     /*track-list */
     .track-list {
      margin-bottom: 3rem;
     }

     /* stream section*/
          .stream {
            margin-top: 3.4rem;
           
          }


     .stream h1{
      text-transform: uppercase;

           color: white;
           letter-spacing: 1px;
           font-size:clamp(1.7rem, 4.3vw, 2.2rem);
           font-weight: 700;
           
     }

     .icon-row{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: center;
      gap: 0.rem;
      border: 1px solid white;
      color: white;
      width: 65%;
  
       text-align: center;
       margin-top: 1rem;
     }

     .icon-row i{
      font-size: 1.5rem;
      padding-block:1rem ;

     }

     .icon-row i + i{
      border-left: 1px solid white;
     }

     /*track section */

     .track-list {
      margin-top: 2rem;
      color: white;
     }

     

     .list-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
     }
     
     .list-content{
      display: flex;
      align-items: center;
      gap: 1.8rem;
     }

     .track-list h2{
      font-size: clamp(2rem, 4.3vw, 2.2rem);
      margin-bottom: 1rem;
     }

    .number, .list-time {
       font-size: larger;
     }

     .col p:first-child{
        font-size: 1.3rem;
     }

     .col p:last-child{
      font-size: 1.2rem;
   }

   /*yt-video */
  
   .yt-video h2{
    color: White;
    margin-bottom: 1.3rem;
   }

   /* hr */
   hr{
    
    height: 1px;
   
    color: white;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
   }

   /* about section */
   .about{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
   }
   /* monstercat section*/
   .monstercat {
    margin-bottom: 2rem;
   }
   .monstercat  h2  {
    font-size: 1.1rem;
    color:#898888; 
    text-transform: uppercase;
    margin-bottom: 1rem;
      
    }

    .monstercat  p{
      font-size: 1.1rem;
      color: whitesmoke;
      font-style: italic;
      margin-bottom: 2rem;
    }


       .fa-arrow-right {
        color: white;
       font-size: 1.4rem;
       color: #898888;
       }

       .input-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
         margin-bottom: 2rem;
         border-bottom: solid 1px #3e3b3c;
         padding-bottom: 0.8em;
      
       }

       .input-container input{
      
        background-color: back;
        border: none;
        padding-block: 0.4rem;
        letter-spacing: 0.1em;
        background-color: black;
       } 

       ::placeholder{
        
        font-size: 1.2rem;
       }

       /*social-icons */
       .social-icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.2rem;

        align-items: center;
        color: white;
        margin-bottom: 2rem;
       }

       .social-icons i{
        font-size: 1.5rem;
       }


       .acknowlegment {
        color: white;
        font-size:1rem;
        font-style:italic;
       text-align: center;
       line-height: 1.5;
       }

        .acknowlegment p  {
          margin-bottom: 1rem;
          
        }

        .acknowlegment p + p  {
          padding-bottom: 1rem;
          
        }

        .copyright-social-container p{
          color: white;
          font-size:1rem;
          font-style:italic;
          width: 94%;
          margin-inline: auto;
          margin-bottom: 1.5rem;
        
        }

        /* media querey */
        @media (min-width: 531px) and (max-width: 1100px) {
          .container {
              max-width: none; /* Remove the max-width restriction */
              width: 100%; /* Set width to 100% */
          }
      

          .nav-list{
            visibility: visible;
          }

          .nav-list i + i {
            margin-left: 1rem;
          }
          
         


          .laptop {
            visibility: visible;
            writing-mode: vertical-lr;
          }
          .mobail{
            visibility: hidden;
          }

          .hero-img{
         
            margin-top: 6rem;
           
          }

          .hero-img {
            display: flex;
            gap: 0.4rem;
          }

          .hero-img  .laptop {
            align-self: end;
          }

          .hero-img-content{
            display: flex;
            justify-content: space-between;
             gap: 8rem;
            align-items: center;
          }

          .about-monster-input, .about {
            width: 94%;
            margin-inline: auto;
           display:grid;
           gap: 2rem;
           grid-template-columns: repeat(2, 1fr);
          }

          .copyright-social-container{
            display: flex;
            width: 94%;
            margin-inline: auto;

          }
          


      }

       


